/*  your css code here. If applicable */
div{
   height: 300px;
   width: 700px;
   background-color: #f5f5f5;
}
#div{
   height: 100px;
   width: 400px;
   background-color: aliceblue;
}
#para{
	margin:20px;
}
.abc{
	font-style:italic;
	text-align:right
}
